<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Poller</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
  <script src="app.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Vesper+Libre" rel="stylesheet">  <link rel="stylesheet" type="text/css" href="main.css">
</head>
<body ng-app="Poller">
  <h1 class="title">Poller</h1>
  <p class="sub-heading">Create polls and tally results</p>
  <div ng-controller="MainPollCtrl as mpc">
    <div ng-controller="CreatePollCtrl as cpc">
      <create-new-poll-btn toggle-value="cpc.creatingNewPoll"></create-new-poll-btn>
      <add-poll-options-btn 
          ng-if="cpc.creatingNewPoll" click-handler="cpc.addPollOption()">
       </add-poll-options-btn>
      <div ng-if="cpc.creatingNewPoll">
        <input class="poll-input" type="text" ng-model="cpc.poll.title" placeholder="Poll Title"/>
         <div id="poll-options">
            <poll-options-input 
              ng-repeat="option in cpc.poll.options"
              ng-model="cpc.poll.options[$index].option">
            </poll-options-input>
            <button class="btn" ng-click=cpc.addPoll()>Create</button>
            <button class="btn" ng-click="cpc.resetPoll()">Cancel</button>
        </div>
      </div>
    </div>
    <section>
      <h1>Polls</h1>
      <ul class="poll-list">
        <polls-list-item ng-repeat="poll in polls" ng-click="mpc.pollSelected($event, $index)"></polls-list-item>
      </ul>
    </section>
    <sectionid="poll-results" ng-controller="PollResultsCtrl as prc">
      <poll-results-details 
      selected-poll="prc.selectedPoll" click-handler="prc.addVote">
      </poll-results-details>
    </section>
  </div>
</body>
</html>